### <p style="text-align: center;">Practical 10</p>
#### <p style="text-align: center;">Gaussian Naive Bayes'Classifier</p>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pprint

In [2]:
data = pd.read_excel("datasets/Lab 10 ML Dataset - GNB classificer.xlsx")

In [3]:
data

   Height  Weight  Foot Size  Person
0    6.00     180         12    Male
1    5.92     190         11    Male
2    5.58     170         12    Male
3    5.92     165         10    Male
4    5.00     100          6  Female
5    5.50     150          8  Female
6    5.42     130          7  Female
7    5.75     150          9  Female

In [4]:
def calculateGuassian(x,mean,var):
    exponent = np.exp(-((x - mean) ** 2 / (2 * var)))
    return (1 / np.sqrt(2 * np.pi * var)) * exponent

In [7]:
def fit_gaussian_naive_bayes(df, target):
    features = df.columns[:-1]
    grouped = df.groupby(target)

    # Calculate the mean and standard deviation for each feature
    summary = {}
    for name, group in grouped:
        summary[name] = [(group[feature].mean(), group[feature].var(ddof=1)) for feature in features]
    return summary

In [6]:
def predict(summary, input_data,df,target):
    prior_probabilities = df[target].value_counts(normalize=True).to_dict()
    probabilities = {}
    for class_value, class_summary in summary.items():
        probabilities[class_value] = prior_probabilities[class_value]
        for i in range(len(class_summary)):
            mean, var = class_summary[i]
            x = input_data[i]
            probabilities[class_value] *= calculateGuassian(x, mean, var)
    print(probabilities)
    return max(probabilities, key=probabilities.get)

#### Fitting Model

In [8]:
model = fit_gaussian_naive_bayes(data, 'Person')

In [9]:
pprint.pprint(model)

{'Female': [(5.4175, 0.097225),
            (132.5, 558.3333333333334),
            (7.5, 1.6666666666666667)],
 'Male': [(5.855, 0.03503333333333331),
          (176.25, 122.91666666666667),
          (11.25, 0.9166666666666666)]}

#### Making Predictions

In [10]:
new_data_point = [6, 130, 8]
prediction = predict(model, new_data_point,data,'Person')
print(f"The data point belongs to: {prediction}")

{'Female': 0.0005377909183630023, 'Male': 6.197071843878083e-09}
The data point belongs to: Female