#### <p style="text-align: center;">Practical 3</p>

#### Find S Algorithm

In [1]:
import pandas as pd
import numpy as np

In [2]:
data1 = pd.read_excel("datasets/Lab 3 Dataset.xlsx")
data2 = pd.read_excel("datasets/Lab 3 ML Dataset_2.xlsx")
data1.head()

      Sky AirTemp Humidity    Wind Water Forecast EnjoySports
0   sunny    warm   normal  strong  warm     same         yes
1   sunny    warm     high  strong  warm     same         yes
2   rainy    cold     high  strong  warm   change          no
3  cloudy    warm     high  strong  cold   change         yes

In [3]:
data2.head()

  Caitation    Size  In Library       Price Edition   Buy
0      Some   Small  unavailabe       cheap     Many   no
1      Many     Big  unavailabe  expensive       One  yes
2      Some     Big    availabe  expensive       Few   no
3      Many  Medium  unavailabe  expensive      Many  yes
4      Many   Small  unavailabe       cheap     Many  yes

In [4]:
# For Dataset 1
# Creating array of all the attributes 
d1 = np.array(data1)[:,:-1]
print("The attributes are: \n",d1)

# segragating the target that has positive and negative examples
target1 = np.array(data1)[:,-1]
print("The target is: ",target1)

The attributes are:
 [['sunny' 'warm' 'normal' 'strong' 'warm' 'same']
 ['sunny' 'warm' 'high' 'strong' 'warm' 'same']
 ['rainy' 'cold' 'high' 'strong' 'warm' 'change']
 ['cloudy' 'warm' 'high' 'strong' 'cold' 'change']]
The target is:  ['yes' 'yes' 'no' 'yes']

In [5]:
# For Dataset 2
# Creating array of all the attributes 
d2 = np.array(data2)[:,:-1]
print("The attributes are: \n",d2)

#segragating the target that has positive and negative examples
target2 = np.array(data2)[:,-1]
print("The target is: ",target2)

The attributes are:
 [['Some' 'Small' 'unavailabe' 'cheap' 'Many']
 ['Many' 'Big' 'unavailabe' 'expensive ' 'One']
 ['Some' 'Big' 'availabe' 'expensive ' 'Few']
 ['Many' 'Medium' 'unavailabe' 'expensive ' 'Many']
 ['Many' 'Small' 'unavailabe' 'cheap' 'Many']]
The target is:  ['no' 'yes' 'no' 'yes' 'yes']

In [6]:
#function for find-s algorithm
def train(c,t):
    specific_hypothesis = [list('Ï†'*len(c[0]))]
    
    for i, val in enumerate(t):
        if val == "Yes" or val == "yes" :
            specific_hypothesis = c[i].copy()
            break
             
    for i, val in enumerate(c):
        if t[i] == "Yes" or t[i] == "yes":
            for x in range(len(specific_hypothesis)):
                if val[x] != specific_hypothesis[x]:
                    specific_hypothesis[x] = '?'
                else:
                    pass              
    return specific_hypothesis

In [7]:
#obtaining the final hypothesis
print("The final hypothesis for dataset 1 is:",train(d1,target1))
print("The final hypothesis for dataset 2 is:",train(d2,target2))

The final hypothesis for dataset 1 is: ['?' 'warm' '?' 'strong' '?' '?']
The final hypothesis for dataset 2 is: ['Many' '?' 'unavailabe' '?' '?']